{% block header %}
<header class="flex items-stretch bg-gray w-full border-b-2 border-black shadow-header">
  <div class="flex items-center border-r-2 border-black">
    <a href="/" class="flex items-center px-4 py-2 hover:bg-dark-gray">
      <img src="/static/icon.svg" alt="Example Icon" class="h-8 mr-2">
      <div class="flex flex-col">
        <span class="font-black text-xl leading-none">nimbus.</span>
      </div>
    </a>
  </div>
  
  <nav class="flex items-stretch ml-auto">
    <a href="https://ghc8mr4qbv2.typeform.com/to/ZRja1UWw" class="bg-blue px-6 py-3 hover:bg-dark-blue border-l-2 border-black flex items-center">get in touch →</a>
  </nav>
</header>
{% endblock %}
